tr.newsItem:nth-child(even) {
    background-color: #fffaf0;
}

tr.newsItem:hover {
    background-color: #fff7e7;
}

.addedTime, .newsText, .newsLink {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: unset;
}

.newsHeader {
    font-size: large;
}

.lastLine {
    max-height: 3.6rem;
    position: relative;
    overflow: hidden;
    padding-right: 0.5rem;
}

.lastLine::after {
    position: absolute;
    display: inline-block;
    content: "...";
    bottom: 0;
    right: 0;
}

.newsLink > * {
    text-decoration: none;
}
