tr.newsItem:nth-child(even) {
    background-color: #fffaf0;
}

tr.newsItem:hover {
    background-color: #fff7e7;
}

.addedTime, .newsText, .newsLink {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: unset;
}

.newsHeader {
    font-size: large;
}

.newsText {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.newsLink > * {
    text-decoration: none;
}
