tr.newsItem:nth-child(even) {
    background-color: #fffaf0;
}

tr.newsItem:hover {
    background-color: #fff7e7;
}

.addedTime, .newsText, .newsLink {
    text-align: left;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: unset;
}

/*.lastLine {
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
}*/

.lastLine {
    max-height: 3.6rem;
    position: relative;
    overflow: hidden;
    padding-right: 0.5rem;
}

.lastLine::after {
    position: absolute;
    display: inline-block;
    content: "...";
    bottom: 0;
    right: 0;
}

/*.lastLine::after {
    content: "";
    position: relative;
    display: inline-block;*/
    /*right: 0;*/
    /*width: 1rem;
    height: 1rem;*/
    /*background: white;
}*/

.newsLink > * {
    text-decoration: none;
}
