#floatingCirclesG{
	position:relative;
	width:125px;
	height:125px;
  margin:auto;
  
	transform:scale(0.6);
	-o-transform:scale(0.6);
	-ms-transform:scale(0.6);
	-webkit-transform:scale(0.6);
	-moz-transform:scale(0.6);
}

.f_circleG{
	position:absolute;
	background-color:rgb(255,255,255);
	height:22px;
  width:22px;
  
	border-radius:12px;
	-o-border-radius:12px;
	-ms-border-radius:12px;
	-webkit-border-radius:12px;
	-moz-border-radius:12px;
    
	animation-name:f_fadeG;
  -o-animation-name:f_fadeG;
  -ms-animation-name:f_fadeG;
  -webkit-animation-name:f_fadeG;
  -moz-animation-name:f_fadeG;
    
	animation-duration: 0.5s;
	-o-animation-duration: 0.5s;
	-ms-animation-duration: 0.5s;
	-webkit-animation-duration: 0.5s;
	-moz-animation-duration: 0.5s;
    
	animation-iteration-count:infinite;
	-o-animation-iteration-count:infinite;
	-ms-animation-iteration-count:infinite;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
    
	animation-direction:normal;
	-o-animation-direction:normal;
	-ms-animation-direction:normal;
	-webkit-animation-direction:normal;
	-moz-animation-direction:normal;
}

#frotateG_01{
	left:0;
	top:51px;
	animation-delay: 0.1s;
	-o-animation-delay: 0.1s;
	-ms-animation-delay: 0.1s;
	-webkit-animation-delay: 0.1s;
	-moz-animation-delay: 0.1s;
}

#frotateG_02{
	left:15px;
	top:15px;
	animation-delay: 0.15s;
	-o-animation-delay: 0.15s;
	-ms-animation-delay: 0.15s;
	-webkit-animation-delay: 0.15s;
	-moz-animation-delay: 0.15s;
}

#frotateG_03{
	left:51px;
	top:0;
	animation-delay: 0.2s;
	-o-animation-delay: 0.2s;
	-ms-animation-delay: 0.2s;
	-webkit-animation-delay: 0.2s;
	-moz-animation-delay: 0.2s;
}

#frotateG_04{
	right:15px;
	top:15px;
	animation-delay: 0.25s;
	-o-animation-delay: 0.25s;
	-ms-animation-delay: 0.25s;
	-webkit-animation-delay: 0.25s;
	-moz-animation-delay: 0.25s;
}

#frotateG_05{
	right:0;
	top:51px;
	animation-delay: 0.3s;
	-o-animation-delay: 0.3s;
	-ms-animation-delay: 0.3s;
	-webkit-animation-delay: 0.3s;
	-moz-animation-delay: 0.3s;
}

#frotateG_06{
	right:15px;
	bottom:15px;
	animation-delay: 0.35s;
	-o-animation-delay: 0.35s;
	-ms-animation-delay: 0.35s;
	-webkit-animation-delay: 0.35s;
	-moz-animation-delay: 0.35s;
}

#frotateG_07{
	left:51px;
	bottom:0;
	animation-delay: 0.4s;
	-o-animation-delay: 0.4s;
	-ms-animation-delay: 0.4s;
	-webkit-animation-delay: 0.4s;
	-moz-animation-delay: 0.4s;
}

#frotateG_08{
	left:15px;
	bottom:15px;
	animation-delay: 0.45s;
	-o-animation-delay: 0.45s;
	-ms-animation-delay: 0.45s;
	-webkit-animation-delay: 0.45s;
	-moz-animation-delay: 0.45s;
}



@keyframes f_fadeG{
	0%{
		background-color:#ffe999;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes f_fadeG{
	0%{
		background-color:#ffe999;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes f_fadeG{
	0%{
		background-color:#ffe999;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes f_fadeG{
	0%{
		background-color:#ffe999;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes f_fadeG{
	0%{
		background-color:#ffe999;
	}

	100%{
		background-color:rgb(255,255,255);
	}
}
